{{!-- {
  "_id": "6607ad0b22db4cdfe198f85b",
  "home": {
    "_id": "6607ad0b22db4cdfe198f851",
    "name": "Home Page Name",
    "username": "username1",
    "templateId": "1",
    "phone": "1234567890",
    "companyName": "Company Name",
    "designation": "Designation",
    "email": "email1@example.com",
    "location": "Location",
    "aboutMe": "About me",
    "__v": 0
  },
  "leadForm": {
    "_id": "6607ad0b22db4cdfe198f853",
    "name": "Lead Form Name",
    "phone": "1234567891",
    "email": "email1@example.com",
    "message": "Message",
    "__v": 0
  },
  "gallery": {
    "_id": "6607ad0b22db4cdfe198f855",
    "name": "Gallery Name",
    "location": "Location",
    "youTubeLink": "YouTube Link",
    "__v": 0
  },
  "service": {
    "_id": "6607ad0b22db4cdfe198f857",
    "photos": [
      {
        "originalName": "Photo 1",
        "location": "Location 1"
      },
      {
        "originalName": "Photo 2",
        "location": "Location 2"
      }
    ],
    "name": "Service1 Name",
    "mrp": "MRP",
    "discountPrice": "Discount Price",
    "about": "About",
    "__v": 0
  },
  "user": {
    "_id": "6607ad0b22db4cdfe198f859",
    "name": "User Name",
    "phone": "1234567891",
    "email": "email1@example.com",
    "__v": 0
  },
  "__v": 0
} --}}
<main>
    <h2>Welcome to the Template2 Service Page!</h2>
    <p>This is the Template2 Service page content.</p>
    <h1>This is home page data</h1>
    <p>Name :{{allData.home.name}}</p>
    <p>Username :{{allData.home.username}}</p>
    <p>templateId :{{allData.home.templateId}}</p>
    <p>phone :{{allData.home.phone}}</p>
    <p>companyName :{{allData.home.companyName}}</p>
    <p>designation :{{allData.home.designation}}</p>
    <p>email  :{{allData.home.email}}</p>
    <p>Location :{{allData.home.location}}</p>
    <h1>This is leadForm data</h1>
    <p>Name :{{allData.leadForm.name}}</p>
    <p>phone :{{allData.leadForm.phone}}</p>
    <p>email  :{{allData.leadForm.email}}</p>
    <p>Message  :{{allData.leadForm.message}}</p>

</main>