<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daksh Cab & Taxi Services</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/template2.css" />
  </head>

  <body>

    <div class="fixed-sidebar d-none d-md-none d-lg-block">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="logo">
              <img
                src="/image/template2/logo/side-logo.svg"
                alt=""
                class="img-fluid"
              />
            </div>
          </div>
          <div class="col-12 col-md-12">
            <div class="about-card">
              <div class="card">
                <div class="card-body">
                  <h2>{{allData.home.companyName}}</h2>
                  <div class="star">4.1
                    <img
                      src="/image/template2/sidebar/star.svg"
                      class="img-fluid"
                      alt=""
                      srcset=""
                    /></div>
                  <div class="about-btn">
                    <button class="btn-about">Call Now</button>
                    <button class="btn-about">Directions</button>
                  </div>
                  <h6>About Us</h6>
                  <p>{{allData.home.aboutMe}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Main Content Area -->
    <div class="main-content">
     <nav class="navbar navbar-expand-lg navbar-black bg-black">
        <a class="navbar-brand" href="/{{allData.home.username}}">{{allData.home.companyName}}</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a
                class="nav-link"
                href="/{{allData.home.username}}/about"
              >About</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="/{{allData.home.username}}/service"
              >Service</a>
            </li>

          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input
              class="form-control mr-sm-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button
              class="btn btn-outline-success my-2 my-sm-0"
              type="submit"
            >Search</button>
          </form>
        </div>
      </nav>
      <div class="main-body">
        <div class="scroll-style">
          <div class="tab-section d-none d-md-block d-lg-none">
            <div class="tab-fixed-sidebar">
              <div class="container">
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="logo">
                      <img
                        src="/image/template2/logo/side-logo.svg"
                        alt=""
                        class="img-fluid"
                      />
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="about-card">
                      <div class="card">
                        <div class="card-body">
                          <h2>{{allData.leadForm.name}}</h2>
                          <div class="star">4.1
                            <img
                              src="/image/template2/sidebar/star.svg"
                              class="img-fluid"
                              alt=""
                              srcset=""
                            /></div>
                          <div class="about-btn">
                            <button class="btn-about">Call Now</button>
                            <button class="btn-about">Directions</button>
                          </div>
                          <h6>About Us</h6>
                          <p>{{allData.home.aboutMe}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section-about d-block d-md-none d-lg-none">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <div class="logo">
                    <img
                      src="/image/template2/mobile/logo.svg"
                      alt=""
                      class="img-fluid"
                    />
                    <div class="btn-group">
                      <button class="btn-primary">Call Now</button>
                      <button class="btn-primary">Directions</button>
                    </div>
                    <hr class="d-block d-md-none d-lg-none" />
                  </div>
                </div>
                <div class="col-12">
                  <h6>About Us</h6>
                  <p>{{allData.home.aboutMe}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="section1">
            <div class="container">
              <div class="row">
                <div class="col-12 head">
                  <div class="heading">
                    <h3>Product</h3>
                  </div>
                  <div class="side-arrow">
                    <img
                      onclick="stopAutoSlide('carousel1'); scrollToLeft('carousel1');"
                      src="/image/template2/main-content/right-arrow.svg"
                      alt=""
                      class="img-fluid"
                    />
                    <img
                      onclick="stopAutoSlide('carousel1'); scrollToRight('carousel1');"
                      src="/image/template2/main-content/left-arrow.svg"
                      alt=""
                      class="img-fluid"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div
                    id="cardCarousel1"
                    class="carousel slide scrollable-cards"
                    data-ride="carousel"
                  >
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <div class="flex-container" id="carousel1">
                          <div class="card flex-card">
                            <div class="card-body">
                              <div>
                                <h5>Swift Dzire</h5>
                                <h6>2000Rs/day</h6>
                                <p>Lorem, ipsum dolor sit amet consectetur
                                  adipisicing elit. Error, eaque?</p>
                              </div>
                              <div class="card-img">
                                <img
                                  src="/image/template2/main-content/swift.svg"
                                  alt=""
                                  class="img-fluid"
                                />
                                <button class="btn-primary">Book</button>
                              </div>
                            </div>
                          </div>
                          <div class="card flex-card">
                            <div class="card-body">
                              <div>
                                <h5>Swift Dzire</h5>
                                <h6>2000Rs/day</h6>
                                <p>Lorem, ipsum dolor sit amet consectetur
                                  adipisicing elit. Error, eaque?</p>
                              </div>
                              <div class="card-img">
                                <img
                                  src="/image/template2/main-content/swift.svg"
                                  alt=""
                                  class="img-fluid"
                                />
                                <button class="btn-primary">Book</button>
                              </div>
                            </div>
                          </div>
                          <div class="card flex-card">
                            <div class="card-body">
                              <div>
                                <h5>Swift Dzire</h5>
                                <h6>2000Rs/day</h6>
                                <p>Lorem, ipsum dolor sit amet consectetur
                                  adipisicing elit. Error, eaque?</p>
                              </div>
                              <div class="card-img">
                                <img
                                  src="/image/template2/main-content/swift.svg"
                                  alt=""
                                  class="img-fluid"
                                />
                                <button class="btn-primary">Book</button>
                              </div>
                            </div>
                          </div>
                          <div class="card flex-card">
                            <div class="card-body">
                              <div>
                                <h5>Swift Dzire</h5>
                                <h6>2000Rs/day</h6>
                                <p>Lorem, ipsum dolor sit amet consectetur
                                  adipisicing elit. Error, eaque?</p>
                              </div>
                              <div class="card-img">
                                <img
                                  src="/image/template2/main-content/swift.svg"
                                  alt=""
                                  class="img-fluid"
                                />
                                <button class="btn-primary">Book</button>
                              </div>
                            </div>
                          </div>
                          <div class="card flex-card">
                            <div class="card-body">
                              <div>
                                <h5>Swift Dzire</h5>
                                <h6>2000Rs/day</h6>
                                <p>Lorem, ipsum dolor sit amet consectetur
                                  adipisicing elit. Error, eaque?</p>
                              </div>
                              <div class="card-img">
                                <img
                                  src="/image/template2/main-content/swift.svg"
                                  alt=""
                                  class="img-fluid"
                                />
                                <button class="btn-primary">Book</button>
                              </div>
                            </div>
                          </div>
                          <div class="card flex-card">
                            <div class="card-body">
                              <div>
                                <h5>Swift Dzire</h5>
                                <h6>2000Rs/day</h6>
                                <p>Lorem, ipsum dolor sit amet consectetur
                                  adipisicing elit. Error, eaque?</p>
                              </div>
                              <div class="card-img">
                                <img
                                  src="/image/template2/main-content/swift.svg"
                                  alt=""
                                  class="img-fluid"
                                />
                                <button class="btn-primary">Book</button>
                              </div>
                            </div>
                          </div>
                          <div class="card flex-card">
                            <div class="card-body">
                              <div>
                                <h5>Swift Dzire</h5>
                                <h6>2000Rs/day</h6>
                                <p>Lorem, ipsum dolor sit amet consectetur
                                  adipisicing elit. Error, eaque?</p>
                              </div>
                              <div class="card-img">
                                <img
                                  src="/image/template2/main-content/swift.svg"
                                  alt=""
                                  class="img-fluid"
                                />
                                <button class="btn-primary">Book</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <ol class="carousel-indicators">
                        </ol>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section2 padding-section">
            <div class="container">
              <div class="row">
                <div class="col-12 head">
                  <div class="heading">
                    <h3>Reviews</h3>
                  </div>
                  <div class="side-arrow">
                    <img
                      onclick="stopAutoSlide('carousel2'); scrollToLeft('carousel2');"
                      src="/image/template2/main-content/right-arrow.svg"
                      alt=""
                      class="img-fluid"
                    />
                    <img
                      onclick="stopAutoSlide('carousel2'); scrollToRight('carousel2');"
                      src="/image/template2/main-content/left-arrow.svg"
                      alt=""
                      class="img-fluid"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div
                    id="cardCarousel2"
                    class="carousel slide scrollable-cards"
                    data-ride="carousel"
                  >
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <div class="flex-container" id="carousel2">
                          <div class="flex-card">
                            <div style="display: flex;">
                              <div class="circle-container">
                                <div class="letter">D</div>
                              </div>
                              <div class="contact">
                                <h6>{{allData.leadForm.name}}</h6>
                                <p>{{allData.leadForm.email}}</p>
                              </div>
                            </div>
                            <div class="card my-3">
                              <div class="card-body">
                                <p>Lorem ipsum dolor sit amet consectetur
                                  adipisicing elit. Porro iste voluptatum ipsum
                                  consequuntur dolores natus sunt asperiores
                                  perferendis magni consectetur!</p>
                              </div>
                            </div>
                          </div>
                          <div class="flex-card">
                            <div style="display: flex;">
                              <div class="circle-container">
                                <div class="letter">D</div>
                              </div>
                              <div class="contact">
                                <h6>{{allData.leadForm.name}}</h6>
                                <p>{{allData.leadForm.email}}</p>
                              </div>
                            </div>
                            <div class="card my-3">
                              <div class="card-body">
                                <p>Lorem ipsum dolor sit amet consectetur
                                  adipisicing elit. Porro iste voluptatum ipsum
                                  consequuntur dolores natus sunt asperiores
                                  perferendis magni consectetur!</p>
                              </div>
                            </div>
                          </div>
                          <div class="flex-card">
                            <div style="display: flex;">
                              <div class="circle-container">
                                <div class="letter">D</div>
                              </div>
                              <div class="contact">
                                <h6>{{allData.leadForm.name}}</h6>
                                <p>{{allData.leadForm.email}}</p>
                              </div>
                            </div>
                            <div class="card my-3">
                              <div class="card-body">
                                <p>Lorem ipsum dolor sit amet consectetur
                                  adipisicing elit. Porro iste voluptatum ipsum
                                  consequuntur dolores natus sunt asperiores
                                  perferendis magni consectetur!</p>
                              </div>
                            </div>
                          </div>
                          <div class="flex-card">
                            <div style="display: flex;">
                              <div class="circle-container">
                                <div class="letter">D</div>
                              </div>
                              <div class="contact">
                                <h6>{{allData.leadForm.name}}</h6>
                                <p>{{allData.leadForm.email}}</p>
                              </div>
                            </div>
                            <div class="card my-3">
                              <div class="card-body">
                                <p>Lorem ipsum dolor sit amet consectetur
                                  adipisicing elit. Porro iste voluptatum ipsum
                                  consequuntur dolores natus sunt asperiores
                                  perferendis magni consectetur!</p>
                              </div>
                            </div>
                          </div>
                          <div class="flex-card">
                            <div style="display: flex;">
                              <div class="circle-container">
                                <div class="letter">D</div>
                              </div>
                              <div class="contact">
                                <h6>{{allData.leadForm.name}}</h6>
                                <p>{{allData.leadForm.email}}</p>
                              </div>
                            </div>
                            <div class="card my-3">
                              <div class="card-body">
                                <p>Lorem ipsum dolor sit amet consectetur
                                  adipisicing elit. Porro iste voluptatum ipsum
                                  consequuntur dolores natus sunt asperiores
                                  perferendis magni consectetur!</p>
                              </div>
                            </div>
                          </div>
                          <div class="flex-card">
                            <div style="display: flex;">
                              <div class="circle-container">
                                <div class="letter">D</div>
                              </div>
                              <div class="contact">
                                <h6>{{allData.leadForm.name}}</h6>
                                <p>{{allData.leadForm.email}}</p>
                              </div>
                            </div>
                            <div class="card my-3">
                              <div class="card-body">
                                <p>Lorem ipsum dolor sit amet consectetur
                                  adipisicing elit. Porro iste voluptatum ipsum
                                  consequuntur dolores natus sunt asperiores
                                  perferendis magni consectetur!</p>
                              </div>
                            </div>
                          </div>
                          <div class="flex-card">
                            <div style="display: flex;">
                              <div class="circle-container">
                                <div class="letter">D</div>
                              </div>
                              <div class="contact">
                                <h6>{{allData.leadForm.name}}</h6>
                                <p>{{allData.leadForm.email}}</p>
                              </div>
                            </div>
                            <div class="card my-3">
                              <div class="card-body">
                                <p>Lorem ipsum dolor sit amet consectetur
                                  adipisicing elit. Porro iste voluptatum ipsum
                                  consequuntur dolores natus sunt asperiores
                                  perferendis magni consectetur!</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section3 padding-section">
            <div class="container">
              <div class="row">
                <div class="col-12 head">
                  <div class="heading">
                    <h3>Contact Us</h3>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-5 col-lg-4" style="display: flex;">
                  <div class="circle-container">
                    <div class="letter">D</div>
                  </div>
                  <div class="contact">
                    <h6>{{allData.leadForm.name}}</h6>
                    <p>{{allData.leadForm.email}}</p>
                  </div>
                </div>
                <div class="col-12 col-md-7 col-lg-8 btn-group">
                  <button class="btn-primary">Call Now</button>
                  <button class="btn-primary">Directions</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap JS and Smooth Scrolling JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    ></script>
    <script src="/js/template2.js"></script>

    <script>
      document.addEventListener("DOMContentLoaded", function() { const
      carouselItems = document.querySelectorAll('.carousel-item'); const
      indicatorsContainer = document.querySelector('.carousel-indicators');
      carouselItems.forEach((item, index) => { const indicator =
      document.createElement('li'); indicator.setAttribute('data-target',
      '#cardCarousel1'); indicator.setAttribute('data-slide-to',
      index.toString()); if (index === 0) { indicator.classList.add('active'); }
      indicatorsContainer.appendChild(indicator); }); });

    </script>
    <!-- <script>
        let intervalId;

        function autoSlide() {
            intervalId = setInterval(scrollToRight1, 3000);
        }

        function stopAutoSlide() {
            clearInterval(intervalId);
        }

        function scrollToRight1() {
            const container = document.querySelector('.flex-container');
            const scrollWidth = container.scrollWidth;
            const visibleWidth = container.clientWidth;
            const currentScrollLeft = container.scrollLeft;
            const scrollableDistance = scrollWidth - visibleWidth;

            let targetScrollLeft = currentScrollLeft + visibleWidth;
            if (targetScrollLeft > scrollableDistance) {
                targetScrollLeft = 0;
            }

            container.scrollTo({ left: targetScrollLeft, behavior: 'smooth' });
        }

        function scrollToLeft1() {
            const container = document.querySelector('.flex-container');
            const scrollWidth = container.scrollWidth;
            const visibleWidth = container.clientWidth;
            const currentScrollLeft = container.scrollLeft;
            const scrollableDistance = scrollWidth - visibleWidth;

            let targetScrollLeft = currentScrollLeft - visibleWidth;
            if (targetScrollLeft < 0) {
                targetScrollLeft = scrollableDistance;
            }

            container.scrollTo({ left: targetScrollLeft, behavior: 'smooth' });
        }

        document.addEventListener('DOMContentLoaded', () => {
            autoSlide();
        });

        document.querySelectorAll('.side-arrow img').forEach(arrow => {
            arrow.addEventListener('click', () => {
                stopAutoSlide();
                if (arrow.getAttribute('onclick') === 'scrollToRight1()') {
                    scrollToRight1();
                } else {
                    scrollToLeft1();
                }
            });
        });

        // Add mouse click functionality to scroll
        const container = document.querySelector('.flex-container');
        let startX;

        container.addEventListener('mousedown', (event) => {
            startX = event.clientX;
        });

        container.addEventListener('mouseup', (event) => {
            const endX = event.clientX;
            const diff = startX - endX;
            if (diff > 0) {
                scrollToRight1();
            } else {
                scrollToLeft1();
            }
        });

    </script> -->
  </body>

</html>