{{!-- {{leadData.name}} --}}
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daksh Cab & Taxi Services</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/template1.css" />
  </head>

  <body>

    <!-- Main Content Area -->
    <div class="main-content">
      {{! Header }}
      <nav class="navbar navbar-expand-lg">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <img src="image/template1/logo/btn.svg" alt="" class="img-fluid" />
        </button>
        <a class="navbar-brand" href="#">{{allData.home.companyName}}</a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown active d-none d-md-none d-lg-block">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownMenuLink"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Menu
              </a>
              <div
                class="dropdown-menu"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <a class="dropdown-item" href="#">Products</a>
                <a class="dropdown-item" href="#">Reviews</a>
                <a class="dropdown-item" href="/about">About</a>
                <a class="dropdown-item" href="#">Query</a>
              </div>
            </li>
            <li class="nav-item dropdown active d-block d-md-block d-lg-none">
              <a class="nav-link" href="#">Products</a>
            </li>
            <li class="nav-item dropdown active d-block d-md-none d-lg-none">
              <a class="nav-link" href="#">Reviews</a>
            </li>
            <li class="nav-item dropdown active d-block d-md-none d-lg-none">
              <a class="nav-link" href="#">Contact Us</a>
            </li>
            <li class="nav-item dropdown active d-block d-md-none d-lg-none">
              <a class="nav-link" href="#">Query</a>
            </li>
          </ul>
        </div>
      </nav>
      {{! background }}
      <div class="header d-none d-md-block d-lg-block">
        <div class="profile">
          <img src="image/template1/logo/profile.svg" class="img-fluid" alt="" />
        </div>
        <div class="profile-logo">
          <img src="image/template1/logo/profile-logo.svg" class="img-fluid" alt="" />
        </div>
      </div>
      {{! main body }}
      <div class="main-body">
        <div class="container-fluid">
          <div class="row">
            {{! Left side }}
            <div class="col-12 col-md-4 col-lg-4">
              <div class="fixed-sidebar d-none d-md-block d-lg-block">
                <div class="container">
                  <div class="row">
                    <div class="col-12 col-md-12">
                      <div class="about-card">
                        <div class="card">
                          <div class="card-body">
                            <h2>{{allData.home.name}}</h2>
                            <div class="star">4.1
                              <img
                                src="image/template1/sidebar/star.svg"
                                class="img-fluid"
                                alt=""
                                srcset=""
                              /></div>
                            <div class="about-btn">
                              <button class="btn-about">Call Now</button>
                              <button class="btn-about">Directions</button>
                            </div>
                            <h6>About Us</h6>
                            <p>{{allData.home.aboutMe}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {{! Right side }}
            <div class="col-12 col-md-8 col-lg-8">
              <div class="scroll-style">
                <div class="section-about d-block d-md-none d-lg-none">
                  <div class="container">
                    <div class="row">
                      <div class="col-12">
                        <div class="logo">
                          <img
                            src="image/template1/mobile/logo.svg"
                            alt=""
                            class="img-fluid"
                          />
                          <div class="btn-group">
                            <button class="btn-primary">Call Now</button>
                            <button class="btn-primary">Directions</button>
                          </div>
                          <hr class="d-block d-md-none d-lg-none" />
                        </div>
                      </div>
                      <div class="col-12">
                        <h6>About Us</h6>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing
                          elit. Natus, unde minus. Optio dolores laboriosam
                          voluptatem ratione quasi iste, veniam distinctio....
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="section1">
                  <div class="container">
                    <div class="row">
                      <div class="col-12 head">
                        <div class="heading">
                          <h3>Product</h3>
                        </div>
                        <div class="side-arrow">
                          <img
                            onclick="stopAutoSlide('carousel1'); scrollToLeft('carousel1');"
                            src="image/template1/main-content/right-arrow.svg"
                            alt=""
                            class="img-fluid"
                          />
                          <img
                            onclick="stopAutoSlide('carousel1'); scrollToRight('carousel1');"
                            src="image/template1/main-content/left-arrow.svg"
                            alt=""
                            class="img-fluid"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div
                          id="cardCarousel1"
                          class="carousel slide scrollable-cards"
                          data-ride="carousel"
                        >
                          <div class="carousel-inner">
                            <div class="carousel-item active">
                              <div class="flex-container" id="carousel1">
                                <div class="card flex-card">
                                  <div class="card-body">
                                    <div>
                                      <h5>Swift Dzire</h5>
                                      <h6>2000Rs/day</h6>
                                      <p>Lorem, ipsum dolor sit amet consectetur
                                        adipisicing elit. Error, eaque?</p>
                                    </div>
                                    <div class="card-img">
                                      <img
                                        src="image/template1/main-content/swift.svg"
                                        alt=""
                                        class="img-fluid"
                                      />
                                      <button class="btn-primary">Book</button>
                                    </div>
                                  </div>
                                </div>
                                <div class="card flex-card">
                                  <div class="card-body">
                                    <div>
                                      <h5>Swift Dzire</h5>
                                      <h6>2000Rs/day</h6>
                                      <p>Lorem, ipsum dolor sit amet consectetur
                                        adipisicing elit. Error, eaque?</p>
                                    </div>
                                    <div class="card-img">
                                      <img
                                        src="image/template1/main-content/swift.svg"
                                        alt=""
                                        class="img-fluid"
                                      />
                                      <button class="btn-primary">Book</button>
                                    </div>
                                  </div>
                                </div>
                                <div class="card flex-card">
                                  <div class="card-body">
                                    <div>
                                      <h5>Swift Dzire</h5>
                                      <h6>2000Rs/day</h6>
                                      <p>Lorem, ipsum dolor sit amet consectetur
                                        adipisicing elit. Error, eaque?</p>
                                    </div>
                                    <div class="card-img">
                                      <img
                                        src="image/template1/main-content/swift.svg"
                                        alt=""
                                        class="img-fluid"
                                      />
                                      <button class="btn-primary">Book</button>
                                    </div>
                                  </div>
                                </div>
                                <div class="card flex-card">
                                  <div class="card-body">
                                    <div>
                                      <h5>Swift Dzire</h5>
                                      <h6>2000Rs/day</h6>
                                      <p>Lorem, ipsum dolor sit amet consectetur
                                        adipisicing elit. Error, eaque?</p>
                                    </div>
                                    <div class="card-img">
                                      <img
                                        src="image/template1/main-content/swift.svg"
                                        alt=""
                                        class="img-fluid"
                                      />
                                      <button class="btn-primary">Book</button>
                                    </div>
                                  </div>
                                </div>
                                <div class="card flex-card">
                                  <div class="card-body">
                                    <div>
                                      <h5>Swift Dzire</h5>
                                      <h6>2000Rs/day</h6>
                                      <p>Lorem, ipsum dolor sit amet consectetur
                                        adipisicing elit. Error, eaque?</p>
                                    </div>
                                    <div class="card-img">
                                      <img
                                        src="image/template1/main-content/swift.svg"
                                        alt=""
                                        class="img-fluid"
                                      />
                                      <button class="btn-primary">Book</button>
                                    </div>
                                  </div>
                                </div>
                                <div class="card flex-card">
                                  <div class="card-body">
                                    <div>
                                      <h5>Swift Dzire</h5>
                                      <h6>2000Rs/day</h6>
                                      <p>Lorem, ipsum dolor sit amet consectetur
                                        adipisicing elit. Error, eaque?</p>
                                    </div>
                                    <div class="card-img">
                                      <img
                                        src="image/template1/main-content/swift.svg"
                                        alt=""
                                        class="img-fluid"
                                      />
                                      <button class="btn-primary">Book</button>
                                    </div>
                                  </div>
                                </div>
                                <div class="card flex-card">
                                  <div class="card-body">
                                    <div>
                                      <h5>Swift Dzire</h5>
                                      <h6>2000Rs/day</h6>
                                      <p>Lorem, ipsum dolor sit amet consectetur
                                        adipisicing elit. Error, eaque?</p>
                                    </div>
                                    <div class="card-img">
                                      <img
                                        src="image/template1/main-content/swift.svg"
                                        alt=""
                                        class="img-fluid"
                                      />
                                      <button class="btn-primary">Book</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <ol class="carousel-indicators">
                              </ol>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="section2 padding-section">
                  <div class="container">
                    <div class="row">
                      <div class="col-12 head">
                        <div class="heading">
                          <h3>Reviews</h3>
                        </div>
                        <div class="side-arrow">
                          <img
                            onclick="stopAutoSlide('carousel2'); scrollToLeft('carousel2');"
                            src="image/template1/main-content/right-arrow.svg"
                            alt=""
                            class="img-fluid"
                          />
                          <img
                            onclick="stopAutoSlide('carousel2'); scrollToRight('carousel2');"
                            src="image/template1/main-content/left-arrow.svg"
                            alt=""
                            class="img-fluid"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div
                          id="cardCarousel2"
                          class="carousel slide scrollable-cards"
                          data-ride="carousel"
                        >
                          <div class="carousel-inner">
                            <div class="carousel-item active">
                              <div class="flex-container" id="carousel2">
                                <div class="flex-card">
                                  <div style="display: flex;">
                                    <div class="circle-container">
                                      <div class="letter">D</div>
                                    </div>
                                    <div class="contact">
                                      {{!-- <h6>{{leadData.name}}</h6>
                                      <p>{{leadData.email}}</p> --}}
                                      <h6>{{allData.leadForm.name}}</h6>
                                      <p>{{allData.leadForm.email}}</p>
                                    </div>
                                  </div>
                                  <div class="card my-3">
                                    <div class="card-body">
                                      <p>Lorem ipsum dolor sit amet consectetur
                                        adipisicing elit. Porro iste voluptatum
                                        ipsum consequuntur dolores natus sunt
                                        asperiores perferendis magni
                                        consectetur!</p>
                                    </div>
                                  </div>
                                </div>
                                <div class="flex-card">
                                  <div style="display: flex;">
                                    <div class="circle-container">
                                      <div class="letter">D</div>
                                    </div>
                                    <div class="contact">
                                      <h6>{{allData.leadForm.name}}</h6>
                                      <p>{{allData.leadForm.email}}</p>
                                    </div>
                                  </div>
                                  <div class="card my-3">
                                    <div class="card-body">
                                      <p>Lorem ipsum dolor sit amet consectetur
                                        adipisicing elit. Porro iste voluptatum
                                        ipsum consequuntur dolores natus sunt
                                        asperiores perferendis magni
                                        consectetur!</p>
                                    </div>
                                  </div>
                                </div>
                                <div class="flex-card">
                                  <div style="display: flex;">
                                    <div class="circle-container">
                                      <div class="letter">D</div>
                                    </div>
                                    <div class="contact">
                                      <h6>{{allData.leadForm.name}}</h6>
                                      <p>{{allData.leadForm.email}}</p>
                                    </div>
                                  </div>
                                  <div class="card my-3">
                                    <div class="card-body">
                                      <p>Lorem ipsum dolor sit amet consectetur
                                        adipisicing elit. Porro iste voluptatum
                                        ipsum consequuntur dolores natus sunt
                                        asperiores perferendis magni
                                        consectetur!</p>
                                    </div>
                                  </div>
                                </div>
                                <div class="flex-card">
                                  <div style="display: flex;">
                                    <div class="circle-container">
                                      <div class="letter">D</div>
                                    </div>
                                    <div class="contact">
                                      <h6>{{allData.leadForm.name}}</h6>
                                      <p>{{allData.leadForm.email}}</p>
                                    </div>
                                  </div>
                                  <div class="card my-3">
                                    <div class="card-body">
                                      <p>Lorem ipsum dolor sit amet consectetur
                                        adipisicing elit. Porro iste voluptatum
                                        ipsum consequuntur dolores natus sunt
                                        asperiores perferendis magni
                                        consectetur!</p>
                                    </div>
                                  </div>
                                </div>
                                <div class="flex-card">
                                  <div style="display: flex;">
                                    <div class="circle-container">
                                      <div class="letter">D</div>
                                    </div>
                                    <div class="contact">
                                      <h6>{{allData.leadForm.name}}</h6>
                                      <p>{{allData.leadForm.email}}</p>
                                    </div>
                                  </div>
                                  <div class="card my-3">
                                    <div class="card-body">
                                      <p>Lorem ipsum dolor sit amet consectetur
                                        adipisicing elit. Porro iste voluptatum
                                        ipsum consequuntur dolores natus sunt
                                        asperiores perferendis magni
                                        consectetur!</p>
                                    </div>
                                  </div>
                                </div>
                                <div class="flex-card">
                                  <div style="display: flex;">
                                    <div class="circle-container">
                                      <div class="letter">D</div>
                                    </div>
                                    <div class="contact">
                                      <h6>{{allData.leadForm.name}}</h6>
                                      <p>{{allData.leadForm.email}}</p>
                                    </div>
                                  </div>
                                  <div class="card my-3">
                                    <div class="card-body">
                                      <p>Lorem ipsum dolor sit amet consectetur
                                        adipisicing elit. Porro iste voluptatum
                                        ipsum consequuntur dolores natus sunt
                                        asperiores perferendis magni
                                        consectetur!</p>
                                    </div>
                                  </div>
                                </div>
                                <div class="flex-card">
                                  <div style="display: flex;">
                                    <div class="circle-container">
                                      <div class="letter">D</div>
                                    </div>
                                    <div class="contact">
                                      <h6>{{allData.leadForm.name}}</h6>
                                      <p>{{allData.leadForm.email}}</p>
                                    </div>
                                  </div>
                                  <div class="card my-3">
                                    <div class="card-body">
                                      <p>Lorem ipsum dolor sit amet consectetur
                                        adipisicing elit. Porro iste voluptatum
                                        ipsum consequuntur dolores natus sunt
                                        asperiores perferendis magni
                                        consectetur!</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="section3 padding-section">
                  <div class="container">
                    <div class="row">
                      <div class="col-12 head">
                        <div class="heading">
                          <h3>Contact Us</h3>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div
                        class="col-12 col-md-12 col-lg-4"
                        style="display: flex;"
                      >
                        <div class="circle-container">
                          <div class="letter">D</div>
                        </div>
                        <div class="contact">
                          <h6>{{allData.home.name}}</h6>
                          <p style="color:white;">{{allData.home.email}}</p>
                        </div>
                      </div>
                      <div class="col-12 col-md-12 col-lg-8 btn-group">
                        <button class="btn-primary">Call Now</button>
                        <button class="btn-primary">Directions</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap JS and Smooth Scrolling JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    ></script>
    <script src="/js/template2.js"></script>
  </body> 

</html>